::-webkit-scrollbar{
    display: none;
}
*{
    margin-left: 10px;
    margin-top: 1px;
     font-family: Arial, Helvetica, sans-serif;
}
img{
    height: 270px;
    width: 545px;
    border-radius: 5%;
}
button{
    color: wheat;
    background-color: black;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border: none;
}
li{
    list-style: none;
}